*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
  text-align: center;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 2em;
  text-size: 30px;
}

body {

  background: linear-gradient(to bottom right, #e681ef, #f38ed3);
  background-image: url('../images/bg.jpg'); 
  background-size: cover;
  background-position: center;
  color: #333;
}

.contact-form {
  max-width: 500px;
  margin: 80px auto;
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.contact-form label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.contact-form button {
  background: linear-gradient(to right, #FF6F61, #FF8A65);
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.contact-form button:hover {
  opacity: 0.9;
}